<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>text</key>
		<string>0</string>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>480</integer>
		<key>width</key>
		<integer>140</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>text</key>
		<string>1</string>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>400</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>text</key>
		<string>2</string>
		<key>x</key>
		<integer>90</integer>
		<key>y</key>
		<integer>400</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>text</key>
		<string>3</string>
		<key>x</key>
		<integer>170</integer>
		<key>y</key>
		<integer>400</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>text</key>
		<string>4</string>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>320</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>text</key>
		<string>5</string>
		<key>x</key>
		<integer>90</integer>
		<key>y</key>
		<integer>320</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>text</key>
		<string>6</string>
		<key>x</key>
		<integer>170</integer>
		<key>y</key>
		<integer>320</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>text</key>
		<string>7</string>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>240</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>text</key>
		<string>8</string>
		<key>x</key>
		<integer>90</integer>
		<key>y</key>
		<integer>240</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>text</key>
		<string>9</string>
		<key>x</key>
		<integer>170</integer>
		<key>y</key>
		<integer>240</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>text</key>
		<string>+</string>
		<key>x</key>
		<integer>250</integer>
		<key>y</key>
		<integer>400</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>text</key>
		<string>-</string>
		<key>x</key>
		<integer>250</integer>
		<key>y</key>
		<integer>320</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>text</key>
		<string>×</string>
		<key>x</key>
		<integer>250</integer>
		<key>y</key>
		<integer>240</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>text</key>
		<string>÷</string>
		<key>x</key>
		<integer>250</integer>
		<key>y</key>
		<integer>160</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>14</integer>
		<key>text</key>
		<string>=</string>
		<key>x</key>
		<integer>250</integer>
		<key>y</key>
		<integer>480</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>15</integer>
		<key>text</key>
		<string>C</string>
		<key>x</key>
		<integer>10</integer>
		<key>y</key>
		<integer>160</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>text</key>
		<string>?</string>
		<key>x</key>
		<integer>90</integer>
		<key>y</key>
		<integer>160</integer>
		<key>width</key>
		<integer>140</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>id</key>
		<integer>17</integer>
		<key>text</key>
		<string>?</string>
		<key>x</key>
		<integer>170</integer>
		<key>y</key>
		<integer>480</integer>
		<key>width</key>
		<integer>60</integer>
		<key>height</key>
		<integer>60</integer>
	</dict>
</array>
</plist>
